{% extends "layout.html" %} {% block content%}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('home')}}">
    <div class="sidebar-brand-icon">
      <img src="static/images/QardioSis_logo.png" width="95%">
    </div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav item dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('home') }}">
      <i class="fa-solid fa-gauge-high"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('upload') }}">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <span>Upload Files</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('history') }}">
      <i class="fa-solid fa-clipboard-list"></i>
      <span>Patient History</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href=" {{ url_for('setting') }}">
      <i class="fa-solid fa-gear"></i>
      <span>Settings</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <div>
    <li class="nav-item">
      <a class="nav-link" href=" {{ url_for('logout') }}">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
      </a>
    </li>
  </div>
</ul>
<!-- Content wrapper -->
<div id="content-wrapper" class="flex-column">
  <!-- Main content -->
  <div id="content">
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color:rgba(245, 244, 239, 1);">
      <span class="navbar navbar-brand mb-0">Dashboard</span>
      <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item no-arrow user">
          <a class="nav-link" role="button" href=" {{ url_for('setting') }}">
            <span class="mr-2 d-none d-lg-inline text-black-600 small">{{ name }}</span>
            <img class="img-profile rounded-circle" src="{{ link }}">
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- End of topbar -->
  <!-- Begin Page Content -->
  {% if profile %}
  <form action="{{ url_for('edit_setting') }}" method="POST" enctype=multipart/form-data>
    <div id="setting" class="container-fluid position-relative justify-content-center  align-items-stretch row" style="height: 100%;"> 
      {% for x in profile %} 
      <div class="col-6" id="col-set">
        <h4 class="">Account settings</h4>
        <hr>
        <div class="d-flex align-items-between border-bottom py-2">
          <img src="{{ link }}" class="img" alt="">
          <div class="pl-sm-4 pl-2" id="img-section">
            <b>Change Profile Photo</b>
            <p></p>
            <input type="file" name="pic" class="" accept=".png,.jpeg,.jpg" value="Change photo">
          </div>
        </div>
        <div class="py-3 mb-4">
          <div class="row">
            <div class="col-md-6">
              <label for="firstname">First Name</label>
              <input name="first_name" type="text" class="bg-light form-control" value="{{x[1]}}">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
              <label for="lastname">Last Name</label>
              <input name="last_name" type="text" class="bg-light form-control" value="{{x[2]}}">
            </div>
          </div>
          <div class="py-2">
            <label for="email">Email Address</label>
            <input name="email" type="text" class="bg-light form-control" value="{{x[3]}}">
          </div>
          <div class="row py-3">
            <div class="col-md-6 pt-md-0 pt-3">
              <label for="phone">Username</label>
              <input name="user_name" type="text" class="bg-light form-control" value="{{x[4]}}">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
              <label>Indonesian Medical Council</label>
              <input name="medical_number" type="number" class="bg-light form-control" value="{{x[6]}}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" id="col-set">
        <h4>Password & Security</h4>
        <hr>
        <div>
          <div class="form-group">
            <label for="inputAddress">Current Password</label>
            <input type="password" name="current_password" class="form-control" id="inputAddress" placeholder="Current Password">
          </div>
          <div class="form-group py-2">
            <label for="inputAddress2">New Password</label>
            <input type="password" name="new_password" class="form-control" id="inputAddress2" placeholder="New Password">
          </div>
          <div class="form-group">
            <input type="password" name="confirm_new_password" class="form-control" id="inputAddress2" placeholder="Confirm New Password">
          </div>
        </div> {% endfor %}
      </div>
      <button type="submit" class="btn float-lg-right" value="Save Changes" data-toggle="modal" data-target="#changeModal">Save Changes</button>
      <div class="flashes" style="color:red;"> {% for message in get_flashed_messages() %} <b>
          <i>{{ message }}</i>
        </b> {% endfor %} </div>
    </div>
  </form>
      {% else %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-danger alert-{{ category }} alert-dismissible fade show" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
              </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% endif %}
  <!-- Modal Download-->
  <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Success !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> Your data has been Changed ! </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div> {%endblock%}